<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
登录账号：<span sec:authentication="name"></span><br />
登录账号：<span sec:authentication="principal.username"></span><br />
凭证：<span sec:authentication="credentials"></span><br />
权限和角色：<span sec:authentication="authorities"></span><br />
客户端地址：<span sec:authentication="details.remoteAddress"></span><br />
sessionId：<span sec:authentication="details.sessionId"></span><br />

<h1>权限控制</h1>
<h2>通过角色判断</h2>
    <button sec:authorize="hasRole('admin')">新增</button>
    <button sec:authorize="hasRole('admin')">删除</button>
    <button sec:authorize="hasRole('admin')">修改</button>
    <button sec:authorize="hasRole('admin')">查询</button>
<h2>通过权限判断</h2>
    <button sec:authorize="hasAuthority('admin')">新增</button>
    <button sec:authorize="hasAuthority('admin')">删除</button>
    <button sec:authorize="hasAuthority('admin')">修改</button>
    <button sec:authorize="hasAnyAuthority('normal,admin')">查询</button>

<a th:href="@{/logout}" class="btn btn-danger">登出</a>


</body>
</html>