<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenze.work.bits.dao.LongtransactionFromMapper">
  <resultMap id="BaseResultMap" type="com.chenze.work.bits.model.entity.LongtransactionFrom">
    <!--@mbg.generated-->
    <!--@Table longtransaction_from-->
    <id column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_uid" jdbcType="VARCHAR" property="userUid" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_nick" jdbcType="VARCHAR" property="userNick" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_sign" jdbcType="VARCHAR" property="userSign" />
    <result column="user_logourl" jdbcType="VARCHAR" property="userLogourl" />
    <result column="user_rank" jdbcType="INTEGER" property="userRank" />
    <result column="user_credit" jdbcType="INTEGER" property="userCredit" />
    <result column="user_vitality" jdbcType="INTEGER" property="userVitality" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="certified" jdbcType="TINYINT" property="certified" />
    <result column="certify_memo" jdbcType="VARCHAR" property="certifyMemo" />
    <result column="certify_file" jdbcType="VARCHAR" property="certifyFile" />
    <result column="certify_date" jdbcType="BIGINT" property="certifyDate" />
    <result column="need_confirm" jdbcType="TINYINT" property="needConfirm" />
    <result column="login_times" jdbcType="INTEGER" property="loginTimes" />
    <result column="update_addr" jdbcType="VARCHAR" property="updateAddr" />
    <result column="update_dev" jdbcType="VARCHAR" property="updateDev" />
    <result column="update_date" jdbcType="BIGINT" property="updateDate" />
    <result column="create_date" jdbcType="BIGINT" property="createDate" />
    <result column="isvalid" jdbcType="TINYINT" property="isvalid" />
    <result column="update_app" jdbcType="VARCHAR" property="updateApp" />
    <result column="update_loc" jdbcType="VARCHAR" property="updateLoc" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="voip_exp" jdbcType="VARCHAR" property="voipExp" />
    <result column="voip_loc" jdbcType="VARCHAR" property="voipLoc" />
    <result column="certify_state" jdbcType="INTEGER" property="certifyState" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="cancel_img" jdbcType="VARCHAR" property="cancelImg" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="password_level" jdbcType="TINYINT" property="passwordLevel" />
    <result column="reverse_user_mobile" jdbcType="VARCHAR" property="reverseUserMobile" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_code, user_uid, user_pass, user_type, user_state, user_name, user_nick, user_mobile, 
    user_email, user_sign, user_logourl, user_rank, user_credit, user_vitality, invite_code, 
    certified, certify_memo, certify_file, certify_date, need_confirm, login_times, update_addr, 
    update_dev, update_date, create_date, isvalid, update_app, update_loc, idcard, voip_exp, 
    voip_loc, certify_state, cancel_reason, cancel_img, update_user, password_level, 
    reverse_user_mobile, photo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from longtransaction_from
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>
  <select id="selectLimit" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from longtransaction_from
    limit #{start}, #{pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from longtransaction_from
    where user_code = #{userCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.chenze.work.bits.model.entity.LongtransactionFrom">
    <!--@mbg.generated-->
    insert into longtransaction_from
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
      <if test="userPass != null">
        user_pass,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userState != null">
        user_state,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userNick != null">
        user_nick,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userSign != null">
        user_sign,
      </if>
      <if test="userLogourl != null">
        user_logourl,
      </if>
      <if test="userRank != null">
        user_rank,
      </if>
      <if test="userCredit != null">
        user_credit,
      </if>
      <if test="userVitality != null">
        user_vitality,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="certified != null">
        certified,
      </if>
      <if test="certifyMemo != null">
        certify_memo,
      </if>
      <if test="certifyFile != null">
        certify_file,
      </if>
      <if test="certifyDate != null">
        certify_date,
      </if>
      <if test="needConfirm != null">
        need_confirm,
      </if>
      <if test="loginTimes != null">
        login_times,
      </if>
      <if test="updateAddr != null">
        update_addr,
      </if>
      <if test="updateDev != null">
        update_dev,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
      <if test="updateApp != null">
        update_app,
      </if>
      <if test="updateLoc != null">
        update_loc,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="voipExp != null">
        voip_exp,
      </if>
      <if test="voipLoc != null">
        voip_loc,
      </if>
      <if test="certifyState != null">
        certify_state,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="cancelImg != null">
        cancel_img,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="passwordLevel != null">
        password_level,
      </if>
      <if test="reverseUserMobile != null">
        reverse_user_mobile,
      </if>
      <if test="photo != null">
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNick != null">
        #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null">
        #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userLogourl != null">
        #{userLogourl,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null">
        #{userRank,jdbcType=INTEGER},
      </if>
      <if test="userCredit != null">
        #{userCredit,jdbcType=INTEGER},
      </if>
      <if test="userVitality != null">
        #{userVitality,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="certified != null">
        #{certified,jdbcType=TINYINT},
      </if>
      <if test="certifyMemo != null">
        #{certifyMemo,jdbcType=VARCHAR},
      </if>
      <if test="certifyFile != null">
        #{certifyFile,jdbcType=VARCHAR},
      </if>
      <if test="certifyDate != null">
        #{certifyDate,jdbcType=BIGINT},
      </if>
      <if test="needConfirm != null">
        #{needConfirm,jdbcType=TINYINT},
      </if>
      <if test="loginTimes != null">
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="updateAddr != null">
        #{updateAddr,jdbcType=VARCHAR},
      </if>
      <if test="updateDev != null">
        #{updateDev,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="updateApp != null">
        #{updateApp,jdbcType=VARCHAR},
      </if>
      <if test="updateLoc != null">
        #{updateLoc,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="voipExp != null">
        #{voipExp,jdbcType=VARCHAR},
      </if>
      <if test="voipLoc != null">
        #{voipLoc,jdbcType=VARCHAR},
      </if>
      <if test="certifyState != null">
        #{certifyState,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelImg != null">
        #{cancelImg,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="passwordLevel != null">
        #{passwordLevel,jdbcType=TINYINT},
      </if>
      <if test="reverseUserMobile != null">
        #{reverseUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenze.work.bits.model.entity.LongtransactionFrom">
    <!--@mbg.generated-->
    update longtransaction_from
    <set>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNick != null">
        user_nick = #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null">
        user_sign = #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userLogourl != null">
        user_logourl = #{userLogourl,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null">
        user_rank = #{userRank,jdbcType=INTEGER},
      </if>
      <if test="userCredit != null">
        user_credit = #{userCredit,jdbcType=INTEGER},
      </if>
      <if test="userVitality != null">
        user_vitality = #{userVitality,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="certified != null">
        certified = #{certified,jdbcType=TINYINT},
      </if>
      <if test="certifyMemo != null">
        certify_memo = #{certifyMemo,jdbcType=VARCHAR},
      </if>
      <if test="certifyFile != null">
        certify_file = #{certifyFile,jdbcType=VARCHAR},
      </if>
      <if test="certifyDate != null">
        certify_date = #{certifyDate,jdbcType=BIGINT},
      </if>
      <if test="needConfirm != null">
        need_confirm = #{needConfirm,jdbcType=TINYINT},
      </if>
      <if test="loginTimes != null">
        login_times = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="updateAddr != null">
        update_addr = #{updateAddr,jdbcType=VARCHAR},
      </if>
      <if test="updateDev != null">
        update_dev = #{updateDev,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="updateApp != null">
        update_app = #{updateApp,jdbcType=VARCHAR},
      </if>
      <if test="updateLoc != null">
        update_loc = #{updateLoc,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="voipExp != null">
        voip_exp = #{voipExp,jdbcType=VARCHAR},
      </if>
      <if test="voipLoc != null">
        voip_loc = #{voipLoc,jdbcType=VARCHAR},
      </if>
      <if test="certifyState != null">
        certify_state = #{certifyState,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null">
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelImg != null">
        cancel_img = #{cancelImg,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="passwordLevel != null">
        password_level = #{passwordLevel,jdbcType=TINYINT},
      </if>
      <if test="reverseUserMobile != null">
        reverse_user_mobile = #{reverseUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where user_code = #{userCode,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into longtransaction_from
    (user_code, user_uid, user_pass, user_type, user_state, user_name, user_nick, user_mobile, 
      user_email, user_sign, user_logourl, user_rank, user_credit, user_vitality, invite_code, 
      certified, certify_memo, certify_file, certify_date, need_confirm, login_times, 
      update_addr, update_dev, update_date, create_date, isvalid, update_app, update_loc, 
      idcard, voip_exp, voip_loc, certify_state, cancel_reason, cancel_img, update_user, 
      password_level, reverse_user_mobile, photo)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userCode,jdbcType=VARCHAR}, #{item.userUid,jdbcType=VARCHAR}, #{item.userPass,jdbcType=VARCHAR}, 
        #{item.userType,jdbcType=INTEGER}, #{item.userState,jdbcType=INTEGER}, #{item.userName,jdbcType=VARCHAR}, 
        #{item.userNick,jdbcType=VARCHAR}, #{item.userMobile,jdbcType=VARCHAR}, #{item.userEmail,jdbcType=VARCHAR}, 
        #{item.userSign,jdbcType=VARCHAR}, #{item.userLogourl,jdbcType=VARCHAR}, #{item.userRank,jdbcType=INTEGER}, 
        #{item.userCredit,jdbcType=INTEGER}, #{item.userVitality,jdbcType=INTEGER}, #{item.inviteCode,jdbcType=VARCHAR}, 
        #{item.certified,jdbcType=TINYINT}, #{item.certifyMemo,jdbcType=VARCHAR}, #{item.certifyFile,jdbcType=VARCHAR}, 
        #{item.certifyDate,jdbcType=BIGINT}, #{item.needConfirm,jdbcType=TINYINT}, #{item.loginTimes,jdbcType=INTEGER}, 
        #{item.updateAddr,jdbcType=VARCHAR}, #{item.updateDev,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=BIGINT}, 
        #{item.createDate,jdbcType=BIGINT}, #{item.isvalid,jdbcType=TINYINT}, #{item.updateApp,jdbcType=VARCHAR}, 
        #{item.updateLoc,jdbcType=VARCHAR}, #{item.idcard,jdbcType=VARCHAR}, #{item.voipExp,jdbcType=VARCHAR}, 
        #{item.voipLoc,jdbcType=VARCHAR}, #{item.certifyState,jdbcType=INTEGER}, #{item.cancelReason,jdbcType=VARCHAR}, 
        #{item.cancelImg,jdbcType=VARCHAR}, #{item.updateUser,jdbcType=VARCHAR}, #{item.passwordLevel,jdbcType=TINYINT}, 
        #{item.reverseUserMobile,jdbcType=VARCHAR}, #{item.photo,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>